<!DOCTYPE html>
<html>
<head>
  <title>Password Restore</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="padding:10px;">
        <%= form_tag params.merge(:action=>:password_reset_action) do %>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault02">New Password</label>
                    <input
                        type="password"
                        pattern=".{8,20}"
                        class="form-control"
                        name="password"
                        id="validationDefault02" placeholder="password" required>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted" style="padding: 10px;">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters.
                </small>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        <% end %>
    </div>
</body>
</html>
